each product in products
    p Nombre: #{product.name}
    p Precio: #{product.price}
    p Descripción: #{product.description}
    
    img.filmsimgres(src=`${product.image}`, alt="movie.img",style="width:300px;height:300px")
